<% provide(:title, "About Us") %>


<div class="container about-page">
<h1 class="page-header">About Daybraker</h1>
<h3>Daybraker is designed and created by RockIT</h3>
<br>
<p>

<b>Daybraker</b>
<br>
Daybraker is created and used for keeping your activities, exercises and foods information at one place. Daybraker is easy to use. Your information is securely stored on our database and you can access them from anywhere. Once you have exercises and foods entered. You will be able to see the net calories count for taday and calories burned fot this month. All information can be easily added or removed from our user friendly interface.

<br><br>
<b>Project Design</b>
<br>
We are striving to create user friendly product that is easy to use, easy to learn, easy to remember, and helpful to users. It is configure to fit on most devices with small or large screen sizes.

<br><br>
<b>RockIT</b>
<br>
RockIT is a team formed in 2014 for project course CSE3901 at Ohio State University. The members are: Bryan D'Agostino, Dereck DiCillo, Amna Khan, Summer Cui and Boming Zhang.

</p>
</div>