<% provide(:title, "Help") %>


<head>
<style>
b {
	color: green;
}
body {
	margin-left:40px;
	margin-right: 240px;
}
</style>
</head>
<h1 class="page-header">Need Help?</h1>
<h3>Most Commonly Asked Questions:</h3>
<br>
<p>
<b>How do you create an account?</b>
<br>
In order to create an acccount, go to the home page and click on sign up. You will be directed to a new page allowing you to create an account. Enter your information and submit your information. You will be signed in into your new account!

<br><br>
<b>How do you edit your information?</b>
<br>
To edit your information, you need to be logged into your account. On the top right-hand side is a drop down menu with the title 'Account.' In the drop down menu, select Profile. In your profile page under the About section is a pencil icon on the right-hand side of the title bar. Click on the pencil icon and you are able to edit your information. Once you have made changes to your information, hit enter. Your information will be updated.

<br><br>
<b>How do I update my status?</b>
<br>
To update your status, go to your profile page in the 'Account' drop down menu on the top right-hand side of the window. In the status section, click on the Update Status text box where you are able to write your status. Hit the post button or hit enter and your status will be updated.

<br><br>
<b>How do you view the Calendar (a specific day and its entries)?</b>
<br>
To view the calendar, in the left-hand side navigation, click on Calendar. The calendar page will come up. On the day you wish to view, go to that day and click on the zoom icon button in that specific box. You will be able to see all the events/entries for that day.


<br><br>
<b>How do you add an entry on the Calendar?</b>
<br>
To add an entry to the calendar, in the left-hand side navigation, cick on Calendar. The calendar page will come up. On the day you wish to add an entry, go to that day and click on the plus icon button in that specific box. You will be able to add an event/entries for that day. 

<br><br>
<b>How do you change your profile picture?</b>
<br>
In order to change the profile picture, you need to create an account with www.gravatar.com. The profile picture uploaded with that account (using the same email) will update your profile picture in your account with DayBraker. 

<br><br>
<b>How do you view your activities?</b>
<br>
To see your recent activities, click on the Activity button in the left-hand side navigation. You will be directed to the page with all your activities.
</p>