<h1>FlipTurn</h1>
<p>Welcome to your Daily Diary!</p>

<div id="Carousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#Carousel" data-slide-to="0" class="active"></li>
		<li data-target="#Carousel" data-slide-to="1"></li>
        <li data-target="#Carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
    	<div class="item active">
    		<img src="http://www.qltyctrl.com/wp-content/uploads/2014/03/Sad-Dog-and-Cat.jpg" alt="DogCat" class = "img-responsive">
    	</div>
    	<div class="item">
    		<img src="http://images2.fanpop.com/image/photos/13900000/Pretty-Dog-in-Garden-puppies-13904176-1024-768.jpg" alt="DogCat1" class = "img-responsive">
    	</div>
    	<div class="item">
    		<img src="http://www.sellcell.com/blog/wp-content/uploads/2014/01/Dog-Wallpaper.jpg" alt="DogCat2" class = "img-responsive">
    	</div>
    </div>

    <a class="carousel-control left" href="#Carousel" data-slide="prev">
    	<span class="icon-prev"></span>
    </a>
    <a class="carousel-control right" href="#Carousel" data-slide="next">
    	<span class="icon-next"></span>
    </a>
</div>