<div class="ribbon">
  <div class="container">
    <h1>FlipTurn</h1>
  </div>
</div>

<div id="Carousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#Carousel" data-slide-to="0" class="active"></li>
		<li data-target="#Carousel" data-slide-to="1"></li>
        <li data-target="#Carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
    	<div class="item active">
    		<img src="assets/images/img1.png" alt="img1" class = "img-responsive">
    	</div>
    	<div class="item">
    		<img src="assets/images/img2.PNG" alt="img2" class = "img-responsive">
    	</div>
    	<div class="item">
    		<img src="assets/images/img3.PNG" alt="img3" class = "img-responsive">
    	</div>
    </div>

    <a class="carousel-control left" href="#Carousel" data-slide="prev">
    	<span class="icon-prev"></span>
    </a>
    <a class="carousel-control right" href="#Carousel" data-slide="next">
    	<span class="icon-next"></span>
    </a>
</div>
