<h1 class="page-header">Daily View<small><%= @date.strftime("%B %e, %Y") %></small></h1>
<table>
	<% @user.activities.each do |x| %>
		<% if x.day.eql? @date %> 
			<tr>
			    <td>
			    	<%= x.name %>
			    </td>
			</tr>
		<% end %>
	<% end %>
</table>

<table>
	<% @user.exercises.each do |x| %>
		<% if x.day.eql? @date %> 
			<tr>
			    <td>
			    	<%= x.name %>
			    </td>
			</tr>
		<% end %>
	<% end %>
</table>