 <div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <ul class="nav nav-sidebar affix">
				<%= gravatar_for(@user) %>
        <li class="active"><a href="#">Profile</a></li>
        <li><a href="#">Activity</a></li>
        <li><a href="#">Calendar</a></li>
        <li><a href="#">Another Button</a></li>
      </ul>
    </div>
    <div class="col-xs-10 col-xs-offset-2 main">
      <h1 class="page-header">Good Day, <%= @user.fname %></h1>
		</div>
	</div>
</div>

<!-- <div class="container-fluid">
	<div class="row">
		<div id="sidebar" class="col-xs-2">

					<ul class="nav nav-pills nav-stacked">
						<li class="pill first-pill"><a>Activity Log</a></li>
						<li class="pill"><a>Calaender</a></li>
						<li class="pill"><a>Another Button</a></li>
					</ul>
		</div>
		<div class="col-xs-10 text-right">
			<h1>Good Day, <%= @user.fname %></h1>
			<p><%= @user.email %></p>
		</div>
	</div>
<!--
	<div class="row">

		<div class="col-xs-4 col-xs-offset-2">
			<p>We can place Information here</p>
			<p>This will All look better once i have more to put in here!!</p>
		</div>
		<div class="col-xs-4">
			<p>We can place Information here</p>
		</div>
	</div>
	<h2>This is going to link to the database and pull information from there</h2> -->
