@import "bootstrap";
//@import "bootstrap-responsive";

$accent-color: blue;

.navbar {
  padding-left: 20px;
  padding-right: 20px;
}

.ribbon {
  height: 200px;
  background-color: $accent-color;
  margin-top: -20px;
}

#Carousel{
	height: 400px;
	width: 100%;
	margin: auto;
  img {
    margin: auto;
    text-align: center;
  }
}
