/* Variables & Mixins */
$brand-primary: #7ADE00;
$off-black: #333;
$gray: #555;
$off-white: #EDEDED;
$border-radius-base: 0px;
$input-border-focus: $brand-primary;

@mixin angled-corners {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/* Bootstrap-Sass */
@import "bootstrap";

/* Overrides */
body {
  background-color: $off-white;
  overflow-x:hidden;
  padding-top: 51px;
}

.help-page b{
  color: green;
}

.about-page b{
  color: green;
}

.container-fluid {
  padding: 0px;
}

h1 {
  //color: $off-white;
  font-size: 4em;
}

.navbar {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px;
}

.form-control, .input-group {
  margin-bottom: 10px;
}

.modal-title {
  font-size: 2em;
}

.radio {
  margin-top: 0px;
}

.modal-content {
  @include angled-corners;
}

/* Root */
.ribbon {
  height: 200px;
  background-color: $brand-primary;
  border-bottom: 40px double $off-black;
}

#Carousel{
	margin: auto;
  border-bottom: 20px solid $off-black;
  img {
    margin: auto;
    text-align: center;
    width: 100%;
    max-height: 500px;
  }
}

.bootstrap-datetimepicker-widget button{
  margin-left: -15px;
}

#del-food {
  float: right;
}

#del-exercise {
  float: right;
}

#Food_Sub {
  float: right;
}

#Exercise_Sub {
  float: right;
}


#footer {
  height: 60px;
  background-color:#DBDBC6;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}