/* Variables & Mixins */
$brand-primary: #7ADE00;
$off-black: #333;
$gray: #555;
$off-white: #EDEDED;
$border-radius-base: 0px;
$input-border-focus: $brand-primary;

@mixin angled-corners {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

/* Bootstrap-Sass */
@import "bootstrap";

/* Overrides */
body {
  background-color: $off-white;
  overflow-x:hidden;
  padding-top: 51px;
}

.container-fluid {
  padding: 0px;
}

h1 {
  //color: $off-white;
  font-size: 4em;
}

.navbar {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px;
}

.alert {
  margin-top: 20px;
  margin-bottom: 0px;
}

.form-control, .input-group {
  margin-bottom: 10px;
}

.modal-title {
  font-size: 2em;
}

.radio {
  margin-top: 0px;
}

.modal-content {
  @include angled-corners;
}

/* Root */
.ribbon {
  height: 200px;
  background-color: $brand-primary;
  border-bottom: 40px double $off-black;
}

#Carousel{
	margin: auto;
  border-bottom: 20px solid $off-black;
  img {
    margin: auto;
    text-align: center;
    width: 100%;
    max-height: 500px;
  }
}


#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}