// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}


/* Create */
#create-acc {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Show */
.profile-pic {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
}


.nav-stacked{
  background-color: $brand-primary;
  border-right: 5px solid $brand-primary;
  padding-right: 0px;
  height: 100%;
  margin-top: -20px;
}

.nav-stacked li.active {
  background-color: $off-white;
  a {
    color: $brand-primary;
  }
}

.nav-stacked li a {
  color: $off-white;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    color: $brand-primary;
  }
}

.nav-stacked.affix {
  position: fixed;
  top:70px;
  width:228px;
}



.main {
  padding-left: 20px;
}

.default-value {
  color: $gray;
}

.panel-title {
  font-size: 2em;
  button {
    float: right;
  }
}


.panel > .table > tbody:first-child th, .panel > .table > tbody:first-child td {
  border-top: 1px solid #ddd;
}


#userTable th:hover {
    background-color: $brand-primary;
    color: $off-white;
  }

/* Calendar */
.cal-header {
  margin-top: 0px;
}

.date-select {
  float: right;
  font-size: 0em;
}

.calendar table {
  border-collapse: collapse;
  width: 100%;
}

.calendar th {
  padding: 6px;
  border: 1px solid $off-black;
}

.calendar th {
  background: $brand-primary;
  color: $off-white;
  text-align: center;
  letter-spacing: 2px;
  width: 14.2857142857143%;
}

.calendar tr {
  margin-bottom: -3px;
}

.calendar td {
  background: #FFF;
  color: #777;
  height: 200px;
  vertical-align: top;
  font-size: 16px;
}

.calendar .notmonth {
  color: #CCC;
}

.calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.calendar #month a, .calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

.today .cal-content {
  background-color: lighten($brand-primary, 45%);
  &:hover {
    background: lighten($brand-primary, 30%);
  }
}

.calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

.calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}

.cal-content {
  border-top: 1px solid $off-black;
  border-left: 1px solid $off-black;
  border-right: 1px solid $off-black;
  height: 80%;
  &:hover {
    background: $off-white;
  }
}

.cal-add-button {
  border-top: 1px solid #ddd;
  border-left: 1px solid $off-black;
  border-right: 1px solid $off-black;
  border-bottom: 1px solid $off-black;
  height: 20%%;
  color: #fff;
  font-size: 2em;
  text-align: center;
  &:hover {
    background: lighten($brand-primary, 20%);
  }
}

.no-button {
  border-top: 1px solid #ddd;
  border-left: 1px solid $off-black;
  border-right: 1px solid $off-black;
  border-bottom: 1px solid $off-black;
  height: 20%%;
  color: #fff;
  font-size: 2em;
  text-align: center;
}

/* Add Activity */
.datepicker{
  z-index:1151 !important;
}
