// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Create */
#create-acc {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Show */
.profile-pic {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
}

.nav-sidebar {
  background-color: $brand-primary;
  border-right: 5px solid $brand-primary;
  padding-right: 0px;
  min-height: 100%;
  margin-top: -20px;
}

.nav-sidebar li.active {
  background-color: $off-white;
  a {
    color: $brand-primary;
  }
}

.nav-sidebar li a {
  color: $off-white;
  font-weight: bold;
  letter-spacing: 2px;
  &:hover {
    color: $brand-primary;
  }
}

.nav-sidebar.affix {
  position: fixed;
  top:70px;
  width:228px;
}

.main {
  padding-left: 20px;
}

.default-value {
  color: $gray;
}

.panel-title {
  font-size: 2em;
  button {
    float: right;
  }
}
