// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Create */
#create-acc {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Show */
.profile-pic {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
}

.nav-sidebar {
  background-color: #7ADE00;
  border-right: 5px solid #7ADE00;
  padding-right: 0px;
  min-height: 100%;
  margin-top: -20px;
}

li.active {
  background-color: #EAEAEA;
  a {
    color: #7ADE00;
  }
}

a {
  color: #EDEDED;
}

  // .nav-sidebar.affix-top {
  //   position: static;
  //   margin-top:30px;
  //   width:228px;
  // }
  //
  .nav-sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
