<hr>
<footer id="footer">
  <div class="container">
    <p>&copy; RockIT 2014</p>
    <p>Created by Bryan D'Agostino, Dereck DiCillo, Amna Khan, Summer Cui and Boming Zhang
    </p>
  </div>
</footer>